body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    border: 1px solid #000000;
    padding: 10px 10px 20px 10px;
    max-width: 700px;
    width: 100%;
}

.form-heading{
    margin: 0;
}

hr{
    margin-top: 20px;
}

.fileds{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

.labels{
    flex: 0 0 20%;
    margin: 0;
}

.button:hover{
    cursor: pointer;
}

p{
    margin: 0;
}

.result-text{
    display: inline-block;
}